# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_MINEW_NRF52840_FOUR_BUTTON
	bool "Minew nRF52840 Four Button Zigbee Board"
	depends on SOC_NRF52840_QIAA
